@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
    background-color: black
}

.menu-background {
    margin: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 98vh;
}

#title {
    user-select: none;
    color: white;
    position: relative;
    top: -300px;
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
}

#play {
    user-select: none;
    width: 100px;
    align-self: center;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: white;
    color: black;
    border: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal
    border: 2px solid black;
}

#play:hover {
    background-color: #1A1A2A;
    border-color: white;
    color: white;
}

#game {
    visible: hidden;
}

.gamePosition {
    position: fixed;
}

#titulo, #certeza, .pontos {
    user-select: none;
    color: white;
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.pontos {
    position: absolute;
    animation: subir 1s ease-in-out;
    top: 45%;
}

#score {
    user-select: none;
    color: white;
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

#evolve, #primeiroEst, #feed {
    user-select: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: white;
    color: black;
    border: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

#primeiroEst, #feed {
    visibility: hidden;
    user-select: none;
    border: 2px solid black;
    position: absolute;
    padding: 10px 40px;
    bottom: -50px;
}

#certeza {
    position: absolute;
    bottom: -90px;
    opacity: 0;
}

#evolve:hover {
    background-color: #1A1A2A;
    color: white;
}

#primeiroEst:hover, #feed:hover {
    border-color: white;
    background-color: #1A1A2A;
    color: white;
}

#primeiroEst:hover + #certeza {
    opacity: 0.3;
}

#evolve:active {
    padding: 12px 22px
}

.upgrades {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primeiroUp, #segundoUp {
    user-select: none;
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: black;
    color: white;
    border-color: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.evolutions {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primeiraEv {
    user-select: none;
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: black;
    color: white;
    border-color: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

#guardiaoTempo {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#animacaoGuardiao, #guardiaoIdle {
    visibility: hidden;
    position: absolute;
    top: 150px;
}