@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
    background-color: black
}

#titulo {
    user-select: none;
    color: white;
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

#score {
    user-select: none;
    color: white;
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#evolve {
    user-select: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: white;
    color: black;
    border: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

#evolve:hover {
    background-color: #1A1A2A;
    color: white;
}

#evolve:active {
    padding: 12px 22px
}

.upgrades {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primeiroUp, #segundoUp {
    user-select: none;
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: black;
    color: white;
    border-color: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.evolutions {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primeiraEv {
    user-select: none;
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-style: groove;
    background-color: black;
    color: white;
    border-color: white;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}